/* temp image */
img {
   content: url("image.jpeg");
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
}

aside {
    width: 30%;
    height: 100%;
}


#moods {
    display: flex;
}

#moods img {
   width: 33%;
}

main {
    width: 70%;
    height: 1000px;
}