* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

/* Removing transition when page loads */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    background: #0D1025;
    background: -webkit-linear-gradient(bottom right, #0D1025, #0F1125);
    background: -moz-linear-gradient(bottom right, #0D1025, #0F1125);
    background: linear-gradient(to top left, #0D1025, #0F1125);
}


b {
    font-weight: 700;
}

img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 50px;
    height: 50px;
}

.play-hover-container {
    position: relative;
    width: auto;
    height: auto;
}

.play-image {
    content: url("https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Logo_Play_512px_clr_nGVTgYY.max-500x500.png");
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.play-hover-container:hover .play-image {
    display: block;
}

.play-hover-image {
    position: absolute;
    content: url("https://cdn-icons-png.flaticon.com/512/0/375.png");
    z-index: -1;
    width: 100%;
    height: 100%;
}

.play-hover-image:hover {
    z-index: 2;
}

#heading {
    justify-content: space-between;
}


/* ----------------------Info------------------------ */
.info {
    height: 300px;
    display: flex;
}

.invard-bottom-image-shadow {
    background: url("https://i1.sndcdn.com/avatars-000237271265-7hhnty-t500x500.jpg");
    width: auto;
    height: auto;
    background-size: cover;
    aspect-ratio: 1;
    -webkit-box-shadow: inset 0px -15px 39px 10px #3374ff;
    box-shadow: inset 0px -15px 39px 10px #3374ff;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: blue;
    padding: 20px;
    height: 100%;
    flex-grow: 1;
}

.info-content h2 {
    font-weight: bold;
}

.info-content h6 {
    font-size: 0.9rem;
}



.info-content p {
    padding: 10px 0 50px 0;
    font-size: 0.7rem;
}

.primary-button {
    font-weight: 700;
    box-sizing: border-box;
    padding: 10px 40px;
    background: rgb(9, 9, 121);
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(255, 0, 249, 1) 100%);
    border: none;
}

.secondary-button {
    font-weight: 700;
    box-sizing: border-box;
    padding: 10px 40px;
    background: transparent;
    border: none;
}

/* header */

header {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    width: 100%;

}

.profile img {
    border-radius: 50%;
}

.normal-style {
    text-decoration: none;
}

.section-one-1 {
    color: white;
    /* background: yellow; */
    width: 30%;
    display: flex;
    align-items: center;
}

.section-one-2 {
    /* background: red; */
    width: 70%;
}

.section-one-logo {
    margin-right: 20px;
    margin-left: 20px;
}

.section-one-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-one-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
}

.dot {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: red;
}

.search-bar {
    position: relative;
}

.search-bar input {
    background-color: #0e194c;
    height: 30px;
    width: 280px;
    border-radius: 10px;
    border: unset;
    padding-left: 35px;
    font-size: 1rem;
}

.search-bar .search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.mic-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background: black; */
    right: 0;
    padding-right: 10px;
}

.notification {
    position: relative;
}

.notification i {
    font-size: 20px;
    font-size: 20px;
}

.content-wrapper {
    display: flex;
    gap: 30px;
    padding: 3rem;
}

.main-section {
    overflow: hidden;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

aside {
    width: 30%;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.slider img {
    flex-grow: 2;
    height: max-content;
    object-fit: cover;
    transition: all 1s linear;
    margin: 20px 0px;
}

.slider img:hover {
    flex-grow: 3;
    margin: 0;
}

.heading {
    display: flex;
}

/* Popular artists */
.popular-artists-wrapper {
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.popular-artists-cover {
    height: min-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-artists-cover img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.popular-artists-cover h3 {
    color: white;
    font-size: 15px;
}

/* Queue Section*/
.aside-queue {
    margin-top: 40px;
}

/* ---------queue header------------ */
.queue-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.queue-header p {
    font-size: 10px;
    opacity: 0.7;
}

.queue-header h2 {
    font-size: 20px;
    font-weight: 700;
}


/* ---------------Similar Artists----------- */

.latest-release-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.latest-release-card {
    height: auto;
    display: flex;
    gap: 20px;
    width: 100%;
}


.latest-release-card img {
    height: 70px;
    width: 70px;
    border-radius: 2px;
}

.latest-songs-meta {
    display: flex;
    justify-content: center;
    width: 160px;
    gap: 4px;
    flex-direction: column;
}

.latest-songs-name {
    font-weight: 700;
    font-size: 12px;
}

.latest-songs-date {
    font-size: 14px;
    opacity: 0.8;
}

.latest-songs-artist {
    font-size: 10px;
    opacity: 0.8;
}

.latest-songs-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    padding-right: 15px;
}

.latest-songs-duration {
    opacity: 0.7;
    font-size: 10px;
}

/* Recently Played */
.queue-songs-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

}

.queue-number-style {
    font-size: 12px;
    opacity: 0.7;
}

.queue-songs-card {
    display: flex;
    padding: 5px 10px;
    border-radius: 2px;
    justify-content: space-between;
    width: 100%;
}

.queue-song-cover {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.queue-song-name {
    font-size: 14px;
}

.queue-song-artist {
    font-size: 10px;
    opacity: 0.7;
}

.queue-song-cover img {
    border-radius: 2px;
    height: 40px;
    width: 40px;
}

.queue-favourite {
    display: flex;
    align-items: center;
    opacity: 0.7;
    gap: 1rem;
}

.queue-song-time {
    margin-left: 3rem;
    font-size: 14px;
}


/* more songs */
.grey-background {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 1s;
}

.grey-background:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* music controller */
.music-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #292646;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 50px;
}

.music-controller-col-1,
.music-controller-col-2,
.music-controller-col-3 {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.music-controller-col-3 {
    gap: 10px;
}

.music-controller-col-2 {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    color: white
}

.music-controller-col-1 {
    height: 50px;
    gap: 10px;
}

.controller-cover {
    display: flex;
    gap: 1rem;
}

.controller-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.controller-meta h4 {
    color: white;
}

.controller-meta p {
    color: white;
    font-size: 10px;
    opacity: 0.7;
}

.controller-fav {
    display: flex;
    gap: 1rem;
}

.controller-fav i {
    font-size: 21px;
    color: white;
}

.music-controller-col-2 i {
    font-size: 21px;
    color: white;
}

.music-cotroller-play {
    display: flex;
    gap: 2rem;
    color: white;
    align-items: center;
}

.music-cotroller-play i:nth-child(3) {
    font-size: 40px;
}

.music-controller-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.song-progress-bar {
    background: black;
    position: relative;
    height: 5px;
    margin: 0px 10px;
    width: 100%;
    border-radius: 10px;
}

.song-progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60%;
    left: 0;
    background: green;
    border-radius: 10px;
    z-index: 0;
}

.song-progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 60%;
    background: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 13;
    cursor: pointer;
}

.volume-progress {
    background: black;
    position: relative;
    height: 5px;
    width: 100%;
    border-radius: 10px;
}

.volume-progress::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60%;
    left: 0;
    background: green;
    border-radius: 10px;
    z-index: 0;
}

.volume-progress::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 60%;
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}