/* temp image */
img {
    content: url("image.jpeg");
    display: inline-block;
}

/* header */
header{
    display: wrap;
}

.wrap_text{
    width: min-content;
    display: inline-block;
    margin: 0;
}
header img{
    border-radius: 50%;
}

/* body */
html,
body,
#main_content {
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    width: 70%;
    height: min-content;
}

#main_content {
    display: flex;
}

aside {
    width: 30%;
    height: 100%;
}


#moods {
    display: flex;
}

#moods img {
    width: 33%;

}

#latest_release {
    display: flex;
    flex-wrap: wrap;
}

.lastest_release_content_box img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
}

.lastest_release_content_box {
    display: flex;
    gap: 1em;
}

.lastest_release_text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.lastest_release_content_box p {
    font-size: .8em;
    margin: 0;
    margin-top: 8px;
    color: #D7BDCA;
}

.self_center_h {
    align-self: center;
}

.self_center_v {
    justify-content: center;
    text-align: center;
}

/* lastest_release_content_box */
.lastest_release_content_box h6 {
    color: #334454;
    margin: 0;
    font-size: 1rem;
}

.lastest_release_content_box {
    background-color: #e4f2fd;
    display: flex;
    bottom: 0;
}

.lastest_release_content_box img {
    align-self: center;
    width: 80px;
    height: 80px;
    object-position: center;
    object-fit: cover;
}

.lastest_release_content_box p {
    color: #a1b2bc;
    font-size: 0.8rem;
}

.time {
    font-size: 0.6em !important;
    margin: 0px 4px 0px 0px !important;
}

.popular_artist img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.popular_artist {
    display: flex;
    flex-direction: column;
}

#popular_artists {
    display: flex;
    overflow-x: scroll;
}

#popular_artists::-webkit-scrollbar {
    display: none;
}

/* stations */

#stations {
    background-color: #1c95f2;
    display: flex;
    bottom: 0;
}

.station {
    position: relative;
    text-align: center;
}

.station p {
    position: absolute;
    margin: auto;
    top: 42%;
    font-size: 0.5rem;
    color: white;
    width: 100%;
    /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
    text-shadow: 1px 1px 2px black;
}

#stations img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/* stations */

#generes {
    display: flex;
    bottom: 0;
}

.genere {
    position: relative;
    text-align: center;
    width: 30%;
}

.genere p {
    position: absolute;
    margin: auto;
    top: 42%;
    color: white;
    width: 100%;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

#generes img {
    height: 100px;
    width: 100%;
}



/* stations */

.latest {
    display: flex;
}

.latest_item {
    position: relative;
    width: min-content;
}

.latest_item p {
    color: white;
    margin: 0;
}

.latest_item h6 {
    color: white;
    margin: 0;
}

.latest_item img {
    height: 100px;
    width: 100px;
}