/*-----header-----*/
#main-header {
    height: 400px;
}

#about-site {
    color: grey;
}


#main-header a{
    font-size:28px;
    color:black;
}
#main-header a:hover{
    color: orange;
}

/*-----main-----*/
h1 {
    font-size: 40px;
    color: darkslategrey;
    font-family: sans-serif;
}

#blog-content {
    width: 1000px;
}

.h-style {
    color: darkslategrey;
}
