*{
    padding: 0;
    margin: 0;
}
.calculator {
    padding: 10px;
    border-radius: 5px;
    height: 450px;
    width: 500px;
    margin: auto;
    background-color: #E2E0E0;
}

.display-box {
    background-color: white;
    border: 0;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

input[type=button] {
    background-color: white;
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
}

input:active[type=button] {
    background: orange;
}

.red{
    background-color: #C14444 !important;
}

#cal{
    font-size: 30px;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white
}